html {
    background-color: rgb(58, 58, 58);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-top: 1em;
    text-align: center;
    color: rgb(54, 175, 231);
    
}
#container {
    display: flex;
    flex-flow: column;
    margin: auto;
    background-color: rgb(175, 172, 172);
    width: 270px;
    height: 410px;
    border-radius: 10px;
}
#input-container{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 65px;
    margin: 15px 10px 15px 10px;
    text-align: end;
    border: 3px solid black;
    border-radius: 10px;
   
}
#history {
    font-size: medium;
    height: 25%;
    margin-right: 5px;
}
#input {
    font-size: larger;
    margin-top: 20px;
    margin-right: 5px;
    height: 60%;
}
#\30, #clear {
    width: 58%;
}
#\30 {
    background-color: rgb(71, 119, 197);
}
.buttons.oper, .buttons.equals {
    background-color: rgb(134, 104, 218);
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 45px;
    width: 25%;
    margin: 5px;
    border: 3px solid rgb(0, 0, 0);
    background-color: darkgrey;
    font-size: 1.8em;
    border-radius: 5%;
    padding-bottom: 45px;
    background-color: rgb(71, 119, 197);
}
.row {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
}